.filter-list-element {
  list-style: none;
}
.filter-list-element:hover {
  cursor: pointer;
}
/* .filter{
    width:70%;
    height: auto;
    display:flex;
    align-items:center;
    margin-top:20px;
    background:white;
    border-radius: 50px;
     box-shadow: 2px 2px 5px lightgrey;
}

.categories{
    height:auto;
    width: auto;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight:bolder;
    color:#459936;
}
.choices{
    color: #707070;
    display: flex;
    flex-wrap:wrap;
    list-style: none;
    justify-content: center;

}
.choices li {
    margin:10px;
    color: #707070;
    display: flex;
    flex-wrap:wrap;
    list-style: none;
}
.choices p {
    margin-right:30px;
}
.titleFilter{
    display:none;
    font-size: 110%;
}
.iconCategories{
    display: flex;
    align-items:center;
    margin-left: 3px;
}
@media(max-width:768px){
.filter{
    display: flex;
    height:100%;
    flex-direction: column;
    margin:0px;
    padding:0px;
    position:fixed;
    top:0;
    left:0;
    background:#EFF7F6;
    width:40%;
    border-radius: 0px;
}
.categories{
    height:auto;
    width: 100%;
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
    font-weight:bolder;
    color:#459936;
    margin-top:10px;
}
.categories{
    border-right:none;
}
.choices{
    color: #707070;
    display: flex;
    flex-direction:column;
    flex-wrap:nowrap;
}
.choices li{
margin-left:0px;
padding:0px;
}
.titleFilter{
    display:flex;
    font-size: 110%;
}
}
@media (max-width:500px){
.filter{
        display: flex;
        height:100%;
        flex-direction: column;
        margin:0px;
        padding:0px;
        position:fixed;
        top:0;
        left:0;
        background:#EFF7F6;
        width:60%;
        border-radius: 0px;
}
.categories{
    height:auto;
    width: 100%;
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    font-weight:bolder;
    color:#459936;
    margin-top:10px;
    font-size:18px;
}
.categories{
    border-right:none;
}
.choices{
    color: #707070;
    display: flex;
    flex-direction:column;
    flex-wrap:nowrap;
    font-size:18px;
}
.choices li{
margin-left:0px;
padding:0px;
}
} */
