* {
  box-sizing: border-box;
}
.header {
  height: 250px;
  display: flex;
  flex-direction: column;
  border: 3px solid purple;
  align-items: center;
  justify-content: flex-start;
}
#logo {
  width: 150px;
  height: 150px;
  margin-top: 20px;
}
#titre {
  margin-top: -10px;
  color: #459936;
}
