.today {
  display: flex;
  justify-content: space-around;
  align-items: center;

  box-shadow: 5px 5px 10px #333333;
  background: #edfbff;
  width: 90%;
}
.Today {
  height: 70px;
  border: 3px solid orange;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
span {
  color: #333333;
}
