.whenStart{
    display: flex;
    justify-content: space-between;
    width:100%;
}
.dayMeteo{
    background:white;
    height:50px;
    margin-top:20px;
    border-radius:15px;
    padding:10px;
    width:22%;
    font-size:80%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    color:#707070;
}
.dayMeteo:hover{
    background:#459936; 
    color:white;
}
.listDeroulante select{
    border:none;
    background:none;
    color:#459936; 
    font-weight: bold;
}
.listDeroulante select:hover{
    background:#459936;
    color:white;
}
@media (max-width:768px){
.whenStart{
        flex-wrap:wrap;
        justify-content: center;
        align-items: center;
        width:100%;
}
.dayMeteo{
    background:white;
    height:50px;
    margin-top:20px;
    margin-left:5px;
    border-radius:15px;
    padding:10px;
    width:auto;
    font-size:80%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    color:#707070;
}
}
@media (max-width:500px){
.listDeroulante{
    display: none;
}
.whenStart{
display: flex;
justify-content: space-around;
width:100%;
}
.dayMeteo{
    background:#EFF7F6;
    border:none;
    height:70px;
    color:#707070;
    width:15%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.dayMeteo:hover{
    background:#459936; 
    color:white;
}
}