* {
  box-sizing: border-box;
  
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.i01d, .i01n{
  background-image: url("/src/Image/backgroundImg/clear-sky.jpg");
  width: 100%;
  height:auto;
  
  }

.i02d, .i02n{
  background-image: url("/src/Image/backgroundImg/few clouds.jpg");
  width: 100%;
  height:auto;
    }

.i03d, .i03n{
  background: url("/src/Image/backgroundImg/scattered clouds.jpg");
  height: 100%;
  width: 100%;
      }

.i04d, .i04n {
  background: url("/src/Image/backgroundImg/Brokken clouds.jpg");
  height: auto;
  width: auto;
  }

.i09d, .i09n {
  background: url("/src/Image/backgroundImg/shower rain.jpg");
  height: auto;
  width: auto;
  }

.i10d, .i10n {
  background: url("/src/Image/backgroundImg/rain.jpg");
  height: auto;
  width: auto;
  }

.i11d, .i11n {
  background: url("/src/Image/backgroundImg/thunderstorm.jpg");
  height: auto;
  width: auto;
  }

  .i13d, .i13n {
    background: url("/src/Image/backgroundImg/snow.jpg");
    height: auto;
    width: auto;
  }

.i50d, .i50n {
  background: url("/src/Image/backgroundImg/mist.jpg");
  height: auto;
  width: auto;
  }
  .i01d, .i01n, .i02d, .i02n, .i03d, .i03n, .i04d, .i04n, .i09d, .i09n, .i10d, .i10n, .i11d, .i11n, .i13d, .i13n, .i50d, .i50n{
    background:no-repeat center fixed;
    background-size: cover;
  }
